body {
  background-image: url('https://media.architecturaldigest.com/photos/60d5e6657d0bcd2fb0bfe9cc/master/w_1920%2Cc_limit/Tennis%2520III%2520.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
  margin:0;
}

.border {
  margin:auto;
  width: 30%;
  border: 3px solid green;
  padding: 0;
  
}
.img1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
 
}
h3{
  background-color:azure;
  border: 3px solid rgba(151, 151, 151, 0.877);
  
  padding: 10px;
  opacity:0.8;
}
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 230px;
  margin:0;
}

div.desc {
  background-color:rgb(48, 126, 195);
  padding: 15px;
  text-align: center;
  opacity:0.8;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  max-width: auto;
  height: auto;
  
}

.button {
  background-color: #4CAF50; /* Green */
  border: 2px solid green;
  border-radius: 10px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}


